<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE1975 - Forum</title>
    
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js">

    <link rel="stylesheet" href="/css/forum.css">

</head>
<body>

    <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/albums">Discography</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/chat">Chat</a>
        </li>
    </ul>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h1 class="feedback-form-title">Leave us a note</h1>
                <form class="feedback-form">
                    <div class="form-group">
                        <label for="feedback-form-name">Name</label>
                        <input type="text" class="form-control" id="feedback-form-name" placeholder="Your name">
                    </div>

                    <div class="form-group">
                        <label for="feedback-form-message">Message</label>
                        <textarea type="text" placeholder="Enter your message and hit submit" class="form-control"
                            id="feedback-form-message" rows="6"></textarea>
                    </div>
                    <button type="submit" class="btn btn-default pull-right" id="submit">Submit</button>
                </form>
            </div><!-- primary -->
            <aside class="col-sm-8">
                <div class="maincontent feedback">
                    <h2 class="article-title">Recent posts</h2>
                    <div class="feedback-messages">
                            
                    </div>
                </div>
            </aside><!-- secondary -->
        </div>
    </div><!-- container -->

    <script src="/js/forumClient.js"></script>
</body>
</html>