<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE1975</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js">

    <link rel="stylesheet" href="/css/styles.css">

    <!-- social media icons -->

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


</head>
<body>

    <!-- this is the header -->

    <div class="header">

        <img src="/images/header-img.jpeg" alt="" width="100%">

        <div class="headerText"><h1>THE1975</h1></div>

    </div>
    
    <!-- this is the navbar -->

    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/albums">Discography</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/forum">Forum</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/chat">Chat</a>
        </li>
    </ul>

    <!-- content under the nav -->

    <div class="video-container">

        <iframe width="90%" height="315" src="https://www.youtube.com/embed/rR1lgEMMJwo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>

    <div class="video-text">

        <div class="listen-to">

            <div class="music-video-text"><h2>Listen to 'Happiness' Now</h2></div>
            
            <div>
                <div class="listen-to-links">
                    <a href="https://music.apple.com/us/artist/the-1975/542640016">Apple Music</a><a href="https://open.spotify.com/playlist/2ggitti6kPhCgALkzhFe9V?si=6996aaa6da9849da&nd=1">Spotify</a><a href="https://www.deezer.com/en/artist/3583591">Deezer</a><a href="https://music.amazon.co.uk/artists/B00GAZRG60">Amazon Music</a><a href="https://www.youtube.com/channel/UC_LfW1R3B0of9qOw1uI-QNQ">YouTube</a>
                </div>
            </div>

        </div>


    </div>

    <!-- this is the footer -->

    <div class="footer">

        <div class="social-icons">
            <a href="https://www.tiktok.com/@the1975?lang=en"><ion-icon class="social-icon" name="logo-tiktok"></ion-icon></a>
            <a href="https://www.instagram.com/THE1975/"><ion-icon class="social-icon" name="logo-instagram"></ion-icon></a>
            <a href="https://twitter.com/the1975"><ion-icon class="social-icon" name="logo-twitter"></ion-icon></a>
            <a href="https://www.facebook.com/the1975"><ion-icon class="social-icon" name="logo-facebook"></ion-icon></a>
            
        </div>

    </div>


</body>
</html>